@font-face {
    font-family: Amazon Ember;
    src: url(fonts/AmazonEmber.ttf);
}

@font-face {
    font-family: Ember Rg;
    src: url(fonts/AmazonEmber_Rg.ttf);
}

body {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 150px;
    padding-bottom: 2%;
    box-sizing: border-box;
}

h1 {
    font-family: Amazon Ember;
    font-size: 29px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form {
    float: center;
    align-items: center;
    align-content: center;
    border: 1px solid lightgrey;
    width: 400px;
    height: 300px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 25px;
    border-radius: 5px;
}

.form-text {
    font-family: Ember Rg;
    font-size: 14px;
    line-height: 30px;
}

input {
    height: 30px;
    width: 400px;
}

.email-text {
    padding-bottom: 10px;
}

#email {
    font-size: 16px;
}

.password-text {
    margin-left: 40px;
}

#password {
    font-size: 16px;
}

.forgot {
    color: rgb(25, 148, 249);
    float: right;
    font-size: 15px;
}

.button {
    display: block;
    background: #f0c14b;
    border-radius: 2px;
    border-color: #a88734 #9c7e31 #846a29;
    border-style: solid;
    margin-top: 25px;
    width: 408px;
    height: 35px;
    font-family: Amazon Ember;
    font-weight: bold;
    font-size: 14px;
}